# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
absl-py
graph-nets>=1.1
tensorflow>=1.15,<2
numpy
dm-sonnet<2
tensorflow_probability<0.9
sklearn
dm-tree
matplotlib
